<!DOCTYPE html>
<html lang="en" th:replace="Base :: parent(~{::#content},~{::title},~{::script})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <div id="content">
        <h1>welcome to Login page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, provident.</p>
    </div>

    <script>
        console.log("this is login page");
    </script>
</body>
</html>