<!DOCTYPE html>
<html lang="en" th:replace="~{Base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
</head>

<body>


    <div id="content">



        <!-- show the sidebar in this page -->
        <div th:if="${loggedinUser}">
            <!-- sidebar -->
            <div th:replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20 mb-14 ">
            <div class="grid grid-cols-12 gap-4">
                <div class="hidden md:block md:col-span-3"></div>
                <div class="col-span-12 md:col-span-6">
                    <div
                        class="card block p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h1 class="text-2xl font-semibold font-serif ">Add New Contact</h1>
                        <p class="text-gray-500">This is contact is store on cloud.</p>

                        <div data-th-replace="~{message::message}"></div>

                        <form th:action="@{'/user/contact/add_contact'}" method="post" class="mt-3 "
                            enctype="multipart/form-data" th:object="${contactForm}" id="uploadForm">

                            <!-- name -->
                            <div class="mb-2">
                                <label for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-user w-4 h-4"></i>
                                    </div>
                                    <input type="text" th:field="*{name}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="name">
                                </div>
                                <p class="text-red-400 mx-2" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                </p>
                            </div>


                            <!-- email -->
                            <div class="mb-2">
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Email</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-envelope w-4 h-4"></i>
                                    </div>
                                    <input type="email" th:field="*{email}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500  "
                                        placeholder="name@gmail.com">
                                </div>
                                <p class="text-red-400 mx-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                </p>
                            </div>


                            <!-- contact -->
                            <div class="mb-2">
                                <label for="phoneNumber"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    No.</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-phone w-4 h-4 "></i>
                                    </div>
                                    <input type="tel" th:field="*{phoneNumber}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="9876543210">
                                </div>
                                <p class="text-red-400 mx-2 " th:if="${#fields.hasErrors('phoneNumber')}"
                                    th:errors="*{phoneNumber}">
                                </p>
                            </div>

                            <div class="mb-2">

                                <label for="address"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Address</label>
                                <textarea rows="4" th:field="*{address}"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write address of your contact"></textarea>

                                <p class="text-red-400 mx-2" th:if="${#fields.hasErrors('address')}"
                                    th:errors="*{address}"></p>

                            </div>

                            <!-- contact description -->

                            <div class="mb-2">

                                <label for="description"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Description</label>
                                <textarea rows="4" th:field="*{description}"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Write something about contac."></textarea>
                                <p class="text-red-400 mx-2" th:if="${#fields.hasErrors('description')}"
                                    th:errors="*{description}"></p>

                            </div>



                            <!-- social links -->

                            <div class="flex space-x-2">
                                <div class="w-full">
                                    <div class="mb-2">
                                        <!-- <label for="input-group-1"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                            No.</label> -->
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-solid fa-earth w-4 h-4 "></i>
                                            </div>
                                            <input type="text" th:field="*{websiteLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="http://www.facebook.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full ">
                                    <div class="mb-2">
                                        <!-- <label for="input-group-1"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                            No.</label> -->
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-brands fa-linkedin w-4 h-4 "></i>
                                            </div>
                                            <input type="text" th:field="*{linkdinLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="http://www.linkdin.com">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- contact image -->
                            <div class="mb-2">

                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                    for="image-file-input">Contact image</label>
                                <input th:field="*{picture}" id="image-file-input"
                                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                    type="file" accept="image/jpg, image/jpeg, image/png">
                                <div id="message" style="color: red;"></div>


                                <img src="" alt="" id="upload-image-preview"
                                    class="max-h-52 mx-auto mt-2 rounded-lg shadow">

                            </div>


                            <div class="flex items-center mb-2">
                                <input id="favorite" type="checkbox" th:field="*{favorite}"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="favorite"
                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this contact is
                                    your favorite .</label>
                            </div>


                            <!-- buttons -->

                            <div class="button-container text-center ">
                                <button type="submit"
                                    class="px-3 py-2 rounded bg-gray-800 text-white hover:bg-gray-900 dark:bg-blue-500 dark:hover:bg-blue-700 ">Add
                                    Contact</button>
                                <button type="reset"
                                    class="px-3 py-2 rounded bg-red-700 text-white   dark:hover:bg-red-600">Reset</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script th:src="@{/js/admin.js}"></script>

</html>